<!DOCTYPE html>
<html>
<head>
<title>Progetto_basi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
</head>
<body background = "C:\Users\Lenovo\Pictures\Camera Roll\WIN_20220523_00_44_27_Pro.jpg" >

<!-- Links (sit on top) -->
<div class="w3-top" style="background-color: yellow">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3" style="background-color: yellow ">
      <a href="/" class="w3-button w3-block" style="background-color: yellow " >Home</a>
    </div>
    </div>
  </div>
</div>

<!-- Content -->
<br>
<br>

<div>
  <h3>Giuseppe gestisce la concessionaria di famiglia, Sunny Motors, fondata nel 1957 da suo nonno, il visionario Luigi. </h3><br>
<h3>Le passate generazioni si occupavano della semplice vendita di automobili e a partire dal 1987 Giuseppe ha deciso di estendere la sua attività
  anche alla vendita di motoveicoli. Negli anni 2000 ha mosso i primi passi verso il mercato del noleggio e ora è una delle aziende più grandi che
  si occupa della vendita e del noleggio in tutta Italia. </h3>
<h3>Giuseppe è arrivato a registrare un proprio marchio di retail e ora ha aperto varie concessionarie sul territorio Europeo.</h3>
<h3>Nei primi decenni la gestione non si avvaleva di nessun mezzo informatico, mentre negli anni 80 era basata sull’approccio File System ma,
  dato che i costi e i tempi di manutenzione erano troppo elevati, dal 2005 l’azienda si è affidata al team “Una Marcia In Più” per la gestione
  basata sull’approccio Database.</h3><br>

<h3>Il team deve implementare un database che offre la possibilità di gestire la vendita o il noleggio di veicoli a due o quattro ruote nuovi o usati.</h3>


</div>

<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <h4>Footer</h4>
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>

</footer>



</body>
</html>